<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<title>Lucene4js</title>
<link rel="stylesheet" type="text/css" href="/css/style.css">
<link href='https://fonts.googleapis.com/css?family=Open+Sans:300'
  rel='stylesheet' type='text/css'>
</head>
<body>
  <div class="container">
      <form action="/" method="post">
        <input name="query" type="text" class="input"
          placeholder="Type a query" required> <input type="submit"
          class="search-button" value="Search">
      </form>
      <% if(search_result !== null)
      { %> <% for (var result_index = 0;result_index < search_result.length; result_index++) 
        { %>
            <div>
                <%= search_result[result_index].info %>
                <div style="width:100%; overflow-y: auto"><pre><%= JSON.parse(search_result[result_index].value) %></pre></div>
            </div> 
        <% } 
      %> <% } %> <%
      if(error !== null){ %>
      <p><%= error %></p>
      <% } %>
  </div>
</body>
</html>